@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

h1 {
    text-align: center;
    font-size: 48px;
}

p {
    text-align: center;
    font-size: 24px;
    font-weight: bold
}

#instructions {
    position: relative;
    width: 720px;
    margin: 3% auto auto;
}

#layout {
    position: relative;
    background: #FFFFFF;
    width: 720px;
    margin: 3% auto auto auto;
    padding: 33px;
    text-align: center;
    border: 5px solid #000;
    border-radius: 48px

}

button {
    font-family: "Josefin Slab", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 307px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 3px 7px 3px;
}

input {
    display: none;
}

form {
    display: inline-block;
}

.inverted {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#overlay {
    position: absolute;
    top: 48px;
    left: 72px;
}

#snap {
    background: rgb(137, 195, 243);
}

#snap:hover {
    background: rgb(106, 163, 209);
}

#reset {
    background: rgb(247, 117, 78);
}

#reset:hover {
    background: rgb(196, 74, 37);
}

#submit {
    background: #4CAF50;
}

#submit:hover {
    background: #43A047;
}

body {
    background: rgb(183, 216, 164);
    font-family: "Josefin Slab", sans-serif;
  }